<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Full Stack & Machine Learning Developer.">
    <meta name="author" content="ynstf">
    
    <title>{{me.personam_info.name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- font icons -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgs/favicon/favico.ico' %}" />
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Steller main styles -->
	<link rel="stylesheet" href="{% static 'css/steller.css' %}">

    <style>
        .widget {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }
        .widget-item {
            text-align: center;
        }
        .number {
            font-size: 36px;
            color: #333;
        }
    </style>

    <style>
        .img-holder {
            overflow: hidden; /* Hides overflow content to prevent it from showing outside the container */
        }
        .img-holder img {
            opacity: 0; /* Initially hide the image */
            animation: fadeIn 5s forwards; /* Apply fade-in animation */
        }
        @keyframes fadeIn {
            0% { opacity: 0; } /* Start with 0 opacity */
            100% { opacity: 1; } /* End with full opacity */
        }
    </style>
    
    <script>
        window.addEventListener('load', function() {
            document.querySelector('.img-holder img').style.opacity = 1; // Show the image after page load
        });
    </script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">


    <!-- Page navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {%if message.tags %} alert-{{message.tags}} {% endif %}">{{message}}</div>
                {% endfor %}
            {% endif %}
            <a  class="navbar-brand" href="#"><img style="width: 100px;" src="{% static 'imgs/logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#technologies">Technologies</a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experiences">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>          
    </nav>


    <!-- End of page navibation -->

    <!-- Page Header -->
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">hello,I'm</h6>
                <h6 class="title">{{me.personam_info.name}}</h6>
                <p>{{me.personam_info.jobtitle}}</p>

                <div class="buttons pt-3">
                    <a href="https://api.whatsapp.com/send/?phone={{me.contact.whatsapp}}" target="_blank"><button class="btn btn-primary rounded">HIRE ME</button></a>
                    
                    <a href="{{me.urls.cv}}" target="_blank"><button class="btn btn-dark rounded">DOWNLOAD CV</button></a>
                </div>      

                <div class="socials mt-4">
                    <a class="social-item" href="{{me.urls.linkedin}}" target="_blank"><i class="ti-linkedin"></i></a>
                    <a class="social-item" href="{{me.urls.github}}" target="_blank"><i class="ti-github"></i></a>
                    <a class="social-item" href="mailto:{{me.contact.email}}" target="_blank"><i class="fas fa-envelope"></i></a>                    
                    <a class="social-item" href="{{me.urls.kaggle}}" target="_blank"><i class="fab fa-kaggle"></i></a>

                </div>
            </div>
            <style>

                @media (max-width: 991.98px) {
                    .header {
                        background: url('{{me.urls.avatar}}') no-repeat right center;
                        background-size: cover; /* Adjust the size as needed */
                    }
                    .header .container {
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                    .header .container .infos {
                        margin-top: 160px;
                        text-align: center;
                    }

                    .header .container .img-holder {
                        display: block;
                        width: 100%;
                        max-width: 100%;
                        margin-top: 20px;
                        align-self: flex-start;
                    }

                    .header .container .img-holder img {
                        display: none;
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                    
            </style>
            
            <div class="img-holder">
                <!-- <img src="{% static 'imgs/man.png' %}" alt=""> -->
                <img src="{{me.urls.avatar}}" alt="" class="responsive-img" >
            </div>

        </div>  

        <!-- Header-widget -->
        <div class="widget">

            <div class="widget-item">
                <h2><span id="repos-number" class="number">0</span></h2>
                <p>Total Repositories</p>
            </div>
            <div class="widget-item">
                <h2><span id="languages" class="number">0</span></h2>
                <p>Languages In Repositories</p>
            </div>
            <div class="widget-item">
                <h2><span id="contributions" class="number">0</span></h2>
                <p>Total Commits</p>
            </div>

            <script>
                // Define the target numbers
                const targetRepos = {{repos_numbers}}; // Replace with your actual value
                const targetLanguages = {{languages}}; // Replace with your actual value
                const targetContributions = {{total_commits}}; // Replace with your actual value
        
                // Function to animate the numbers
                function animateNumbers(target, elementId) {
                    let current = 0;
                    const increment = Math.ceil(target / 100); // Adjust the animation speed
        
                    function updateNumber() {
                        document.getElementById(elementId).textContent = current.toLocaleString();
                        if (current < target) {
                            current += increment;
                            requestAnimationFrame(updateNumber);
                        } else {
                            document.getElementById(elementId).textContent = target.toLocaleString();
                        }
                    }
        
                    updateNumber();
                }
        
                // Animate the numbers when the page loads
                document.addEventListener('DOMContentLoaded', function() {
                    animateNumbers(targetRepos, 'repos-number');
                    animateNumbers(targetLanguages, 'languages');
                    animateNumbers(targetContributions, 'contributions');
                });
            </script>


        </div>
    </header>

    
    <!-- End of Page Header -->
    
    <!-- About section -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{% static 'imgs/avatari.png' %}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Youness Atif</h6>
                    <p class="subtitle">AI Developer</p>
                    <p>Recent Electronics and Artificial Intelligence Development Graduate | 🤖 Passionate about Machine Learning and Deep Learning | 💻 Enthusiastic about Web Development, Backend Development, Automation, and Data Analysis.</p>
                    <p>Building intelligent systems and predictive models is my passion, and I have a strong foundation in machine learning and deep learning. I'm excited about the prospect of applying my passion for extracting insightful information from data and developing creative solutions in the professional world.</p>
                    <p>In addition to my expertise in AI, I have a solid foundation in electronics, providing me with a comprehensive understanding of technology. This unique combination allows me to bridge the gap between AI and the hardware it runs on, enabling me to build efficient and integrated systems.</p>
                    <p>My skills extend to backend development, where I excel in creating robust server-side applications and ensuring seamless communication between front-end interfaces and databases. I'm also proficient in automation, streamlining workflows and enhancing productivity through innovative solutions. My data analysis capabilities enable me to derive meaningful insights and make data-driven decisions.</p>
                    <a href="{{me.cv}}" target="_blank"><button class="btn btn-primary rounded mt-3">DOWNLOAD CV</button></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Service section -->
    <section id="technologies" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Technologies</h6>
            <h6 class="section-title mb-4">What I Do</h6>
            <p class="mb-5 pb-4">In my projects, I leverage a diverse set of technologies to build robust and scalable solutions. With a solid foundation in HTML and CSS, I craft visually appealing and responsive user interfaces. My backend expertise spans across Python frameworks such as Django, Flask, and FastAPI, enabling me to develop powerful web applications and RESTful APIs. I seamlessly integrate databases like MongoDB and PostgreSQL to store and manage data efficiently. Leveraging machine learning libraries like Scikit-learn and TensorFlow, I develop intelligent algorithms for predictive modeling and data analysis. Additionally, I automate tasks and perform web scraping using Selenium. With Pandas, I manipulate and analyze large datasets, extracting valuable insights. Furthermore, I orchestrate containerized applications using Kubernetes and Docker, ensuring seamless deployment and scaling.</p>

            <div class="row">
                {% for image in me.technologies %}
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="custom-card card border">
                            <div class="card-body">
                                <img src="{% static 'imgs/technologies/' %}{{image}}.png" alt="" width="90px">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End of Sectoin -->


    <!-- Portfolio section -->
    <section id="portfolio" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Portfolio</h6>
            <h6 class="section-title mb-4">Check Out My Projects</h6>
            <p class="mb-5 pb-4">Explore a world of innovation and creativity, where every project tells a story of passion and expertise.</p>

            <div class="row">
                {% for project in me.projects %}
                    <div class="col-sm-4">
                        <div class="img-wrapper">
                            <img src="{% static 'imgs/projects/' %}{{project.image}}" alt="" height="300px">
                            <div class="overlay">
                                <div class="overlay-infos">
                                    <h5 >{{project.title}}</h5>
                                    <p style="font-size: xx-small;">{{project.description}}</p>
                                    <a href="{{project.link}}" target="_blank"><i class="ti-link"></i></a>
                                </div>  
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/projects/see_more.jpg' %}" alt="" height="300px">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5 >see more projects</h5>
                                <p >visit my github profile </p>
                                <a href="{{me.urls.github}}" target="_blank"><i class="ti-link"></i></a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End of portfolio section -->


    <!-- Blog Section -->
    <section id="experiences" class="section">
        <div class="container text-center">
            <h6 class="subtitle">My Experiences</h6>
            <h6 class="section-title mb-4">Professional Journey</h6>
            <p class="mb-5 pb-4">Explore the companies I've collaborated with throughout my professional journey.</p>

            <div class="row text-left">

            {% for experience in me.experiences %}
                <div class="col-md-4">
                    <div class="card border mb-4">
                        <img src="{% static 'imgs/experiences/' %}{{experience.image}}" alt="" class="card-img-top w-100">
                        <div class="card-body">
                            <h5 class="card-title">{{experience.name}}</h5>

                            <div class="post-details">
                                <a href="javascript:void(0)">Post: {{experience.post}}</a>
                            </div>

                            <p>{{experience.work}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}



            </div>
        </div>
    </section>

    <!-- Hire me section -->
    <section class="bg-gray p-0 section">
        <div class="container">
            <div class="card bg-primary">
                <div class="card-body text-light">
                    <div class="row align-items-center">
                        <div class="col-sm-9 text-center text-sm-left">
                            <h5 class="mt-3">Hire Me For Your Project</h5>
                            <p class="mb-3">I am eager to collaborate with professionals who share my passion for AI, electronics, backend development, automation, and web development, and to gain practical experience. I'm seeking opportunities to further hone my skills and contribute to innovative projects that make a significant impact.</p>
                        </div>
                        <div class="col-sm-3 text-center text-sm-right">
                            <a href="https://api.whatsapp.com/send/?phone={{me.contact.whatsapp}}" target="_blank"><button class="btn btn-light rounded">Hire Me!</button></a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>      
    <!-- End od Hire me section. -->

    <!-- Contact Section -->
    <section id="contact" class="position-relative section">
        <div class="container text-center">
            <h6 class="subtitle">Contact</h6>
            <h6 class="section-title mb-4">Get In Touch With Me</h6>
            <p class="mb-5 pb-4">I'm thrilled to hear from you! Whether it's a project collaboration, a question, or just to say hello, feel free to reach out. Your message is important to me, and I'll get back to you as soon as possible.</p>

            <div class="contact text-left">
                <div class="form">
                    <h6 class="subtitle">Available 24/7</h6>
                    <h6 class="section-title mb-4">Get In Touch</h6>
                    <form action="{% url 'send_email' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block rounded w-lg">Send Message</button>
                    </form>                    
                </div>
                <div class="contact-infos">
                    <div class="item">
                        <i class="ti-location-pin"></i>
                        <div class="">
                            <h5>Location</h5>
                            <p>{{me.contact.location}}</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-mobile"></i>
                        <div>
                            <h5>Phone Number</h5>
                            <p>{{me.contact.phone}}</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email Address</h5>
                            <p>{{me.contact.email}}</p>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>  
        <div id="map">
            <iframe src="{{me.contact.iframemap}}" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>      
    </section>
    <!-- End of Contact Section -->

    <!-- Page Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="https://github.com/ynstf/portfolio" target="_blank">Portfolios By ynstf</a></p>
                </div>
                <div class="col-sm-6">
                    <div class="socials">
                        <a class="social-item" href="{{me.urls.linkedin}}" target="_blank"><i class="ti-linkedin"></i></a>
                        <a class="social-item" href="{{me.urls.github}}" target="_blank"><i class="ti-github"></i></a>
                        <a class="social-item" href="mailto:{{me.contact.email}}" target="_blank"><i class="fas fa-envelope"></i></a>                    
                        <a class="social-item" href="{{me.urls.kaggle}}" target="_blank"><i class="fab fa-kaggle"></i></a>
    
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <!-- End of page footer -->
	
	<!-- core  -->
    <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>
    <!-- bootstrap 3 affix -->
	<script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- steller js -->
    <script src="{% static 'js/steller.js' %}"></script>

</body>
</html>
